<?xml version="1.0"?>
<robot name="robot_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="colors.xacro"></xacro:include>
    <xacro:include filename="links_macro.xacro"></xacro:include>

    <xacro:include filename="arm.xacro"></xacro:include>
    <xacro:include filename="gripper.xacro"></xacro:include>

    <xacro:include filename="robot_arm.ros2_control.xacro"></xacro:include>

    <!-- 8 -->
    <joint name="tool_gripper_joint" type="fixed">
        <parent link="tool_link"></parent>
        <child link="gripper_base_link"></child>
        <origin xyz="0 0 0" rpy="0 0 0"></origin>
    </joint>

</robot>
 